 body {
    background-color:antiquewhite;
    margin: 8px;
    display: block;
    text-align: center;
    color: darkslategray;
    padding-left: 75px;
    padding-right: 75px;
 }
 ul {
    text-align: left;
    display: inline-block;
 }
  
 #tagline {
    color: darkslategray;
 }
 #mainHeading {
    color: red;
    font-style: italic;
 }
 .funParagraph {
    color: green;
 }
#kitchen {
    width: 600px;
    height: 400px;
}
#staging {
    width: 600px;
    height: 650px;
}
#disaster {
    width: 600px;
    height: 400px;
}
#code {
    width: 600px;
    height: 400px;
}
